In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tv_shows.csv')
df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5363,5363,5713,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,1
5364,5364,5714,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,1
5365,5365,5715,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,1
5366,5366,5716,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,1
5367,5367,5717,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB

In [4]:
df = df.drop(columns=['Type'])

In [5]:
df=df.drop(columns=['ID'])
df=df.drop(columns=['Unnamed: 0'])

In [6]:
df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+
0,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0
1,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0
2,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0
3,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0
4,Dark,2017,16+,8.8/10,93/100,1,0,0,0
...,...,...,...,...,...,...,...,...,...
5363,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1
5364,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1
5365,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1
5366,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1
5367,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1

In [7]:
import re

In [8]:
df['Rotten Tomatoes_%']=0.0
for i in range(len(df)):
    df['Rotten Tomatoes_%'][i]=float(re.search(r'\d*', df['Rotten Tomatoes'][i])[0])
df

C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\2656354660.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Rotten Tomatoes_%'][i]=float(re.search(r'\d*', df['Rotten Tomatoes'][i])[0])

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Rotten Tomatoes_%
0,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,100.0
1,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,96.0
2,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,95.0
3,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,94.0
4,Dark,2017,16+,8.8/10,93/100,1,0,0,0,93.0
...,...,...,...,...,...,...,...,...,...,...
5363,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,10.0
5364,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,10.0
5365,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,10.0
5366,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,10.0
5367,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,10.0

In [9]:
df['IMDb_%']=0.0
df['CombRating']=0.0
for i in range(len(df)):
    try:
        df['IMDb_%'][i]=float(re.search(r'\d.\d', df['IMDb'][i])[0])*10
        df['CombRating'][i]=(df['Rotten Tomatoes_%'][i]+df['IMDb_%'][i])/2
    except:
        df['IMDb_%'][i]= None
        df['CombRating'][i]= None
df

C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\2290505913.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IMDb_%'][i]=float(re.search(r'\d.\d', df['IMDb'][i])[0])*10
C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\2290505913.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CombRating'][i]=(df['Rotten Tomatoes_%'][i]+df['IMDb_%'][i])/2
C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\2290505913.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IMDb_%'][i]= None
C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\2290505913.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CombRating'][i]= None

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Rotten Tomatoes_%,IMDb_%,CombRating
0,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,100.0,94.0,97.0
1,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,96.0,87.0,91.5
2,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,95.0,90.0,92.5
3,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,94.0,88.0,91.0
4,Dark,2017,16+,8.8/10,93/100,1,0,0,0,93.0,88.0,90.5
...,...,...,...,...,...,...,...,...,...,...,...,...
5363,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN
5364,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN
5365,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN
5366,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN
5367,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN

In [10]:
df['min_age']=0
for i in range(len(df)):
    try:
        df['min_age'][i]=int(re.search(r'\d*', df['Age'][i])[0])
    except:
        df['min_age'][i]= None
df

C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\2546914249.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_age'][i]=int(re.search(r'\d*', df['Age'][i])[0])
C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\2546914249.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_age'][i]= None

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Rotten Tomatoes_%,IMDb_%,CombRating,min_age
0,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,100.0,94.0,97.0,18.0
1,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,96.0,87.0,91.5,16.0
2,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,95.0,90.0,92.5,18.0
3,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,94.0,88.0,91.0,18.0
4,Dark,2017,16+,8.8/10,93/100,1,0,0,0,93.0,88.0,90.5,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5363,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN
5364,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN
5365,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN
5366,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN
5367,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN

In [11]:
df.groupby('min_age')['Title'].count()

min_age
7.0     831
13.0      9
16.0    995
18.0    854
Name: Title, dtype: int64

In [12]:
df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Rotten Tomatoes_%,IMDb_%,CombRating,min_age
0,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,100.0,94.0,97.0,18.0
1,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,96.0,87.0,91.5,16.0
2,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,95.0,90.0,92.5,18.0
3,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,94.0,88.0,91.0,18.0
4,Dark,2017,16+,8.8/10,93/100,1,0,0,0,93.0,88.0,90.5,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5363,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN
5364,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN
5365,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN
5366,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN
5367,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN

In [13]:
df['Age'].unique()

array(['18+', '16+', '7+', 'all', nan, '13+'], dtype=object)

In [14]:
df['Year'].min()

1904

In [15]:
df['Year'].max()

2021

In [16]:
df['single_plat']=''
df['count']=0
for i in range(len(df)):
    df['count'][i]=df['Netflix'][i]+df['Prime Video'][i]+df['Hulu'][i]+df['Disney+'][i]
    
    # if df['Netflix'][i]=
    
    
    # df['single_plat'][i]=float(re.search(r'\d*', df['Rotten Tomatoes'][i])[0])
df

C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\3817654349.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['count'][i]=df['Netflix'][i]+df['Prime Video'][i]+df['Hulu'][i]+df['Disney+'][i]

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Rotten Tomatoes_%,IMDb_%,CombRating,min_age,single_plat,count
0,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,100.0,94.0,97.0,18.0,,1
1,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,96.0,87.0,91.5,16.0,,1
2,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,95.0,90.0,92.5,18.0,,2
3,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,94.0,88.0,91.0,18.0,,1
4,Dark,2017,16+,8.8/10,93/100,1,0,0,0,93.0,88.0,90.5,16.0,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5363,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,,1
5364,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,,1
5365,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,,1
5366,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,,1
5367,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,,1

In [17]:
df.groupby('count')['Title'].count()

count
1    4998
2     335
3      34
4       1
Name: Title, dtype: int64

In [18]:
df['single_plat']=''

for i in range(len(df)):
    if df['count'][i]==1:
        if df['Netflix'][i]==1:
            df['single_plat'][i]='Netflix'
        elif df['Prime Video'][i]==1:
            df['single_plat'][i]='Prime Video'
        elif df['Hulu'][i]==1:
            df['single_plat'][i]='Hulu'
        else:
            df['single_plat'][i]='Disney+'
    else:
        pass

df

C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\3894458600.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['single_plat'][i]='Netflix'
C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\3894458600.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['single_plat'][i]='Hulu'
C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\3894458600.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['single_plat'][i]='Prime Video'
C:\Users\Antonis\AppData\Local\Temp\ipykernel_19480\3894458600.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['single_plat'][i]='Disney+'

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Rotten Tomatoes_%,IMDb_%,CombRating,min_age,single_plat,count
0,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,100.0,94.0,97.0,18.0,Netflix,1
1,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,96.0,87.0,91.5,16.0,Netflix,1
2,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,95.0,90.0,92.5,18.0,,2
3,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,94.0,88.0,91.0,18.0,Netflix,1
4,Dark,2017,16+,8.8/10,93/100,1,0,0,0,93.0,88.0,90.5,16.0,Netflix,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5363,Paradise Islands,2017,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,Disney+,1
5364,Mexico Untamed,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,Disney+,1
5365,Wild Centeral America,2020,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,Disney+,1
5366,Wild Russia,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,Disney+,1
5367,Fearless Adventures with Jack Randall,2018,NaN,NaN,10/100,0,0,0,1,10.0,NaN,NaN,NaN,Disney+,1

In [19]:
df.to_csv('Project_2.csv')